<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Procurar por Campeonato"
          [(ngModel)]="camp_nome"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="procurarCampeonato()"
          >
            Procurar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Lista de Campeonatos</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let campeonato of campeonatos; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveCampeonato(campeonato, i)"
        >
          {{ campeonato.camp_nome }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removerTodasCampeonatos()">
        Apagar todos
      </button>
    </div>
    <div class="col-md-6">
      <app-campeonato-detalhes
        [viewMode]="true"
        [currentCampeonato]="currentCampeonato"
      ></app-campeonato-detalhes>
    </div>
  </div>
