<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Gestor de Campeonatos</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Modalidades
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="add">Cadastrar Modalidade</a>
          <a class="dropdown-item" routerLink="modalidades">Lista de Modalidades</a>
        </div>
    </div> 
    <div class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Campeonatos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="addCamp">Cadastrar Campeonato</a>
          <a class="dropdown-item" routerLink="campeonatos">Lista de Campeonatos</a>
        </div>
    </div> 
    <div class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Equipes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="addEquipe">Cadastrar Equipe</a>
          <a class="dropdown-item" routerLink="equipes">Lista de Equipes</a>
        </div>
    </div> 
    <div class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Atletas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="addAtleta">Cadastrar Atleta</a>
          <a class="dropdown-item" routerLink="atletas">Lista de Atletas</a>
        </div>
    </div> 
    <div class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Elencos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="addElenco">Cadastrar Elenco</a>
          <a class="dropdown-item" routerLink="elencos">Lista de Elencos</a>
        </div>
    </div> 
    <div class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tabela de Jogos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="addJogo">Cadastrar Jogos</a>
          <a class="dropdown-item" routerLink="jogos">Lista de Jogos</a>
        </div>
    </div> 
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>