<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Procurar por Modalidade"
          [(ngModel)]="mod_nome"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="procurarModalidade()"
          >
            Procurar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Lista de Modalidades</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let modalidade of modalidades; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveModalidade(modalidade, i)"
        >
          {{ modalidade.mod_nome }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removerTodasModalidades()">
        Apagar todos
      </button>
    </div>
    <div class="col-md-6">
      <app-modalidade-detalhes
        [viewMode]="true"
        [currentModalidade]="currentModalidade"
      ></app-modalidade-detalhes>
    </div>
  </div>
