<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
            <label for="el_camp_nome">Campeonato: </label>
            <p></p>
            <select [(ngModel)]="elenco.el_camp_nome">
              <option selected disabled>Selecione</option>
              <option *ngFor="let campeonato of campeonato">
                  {{campeonato.camp_nome}}
              </option>
            </select>
        </div>
        <div class="form-group">
            <label for="el_equipe_nome">Equipe: </label>
            <p></p>
            <select [(ngModel)]="elenco.el_equipe_nome">
              <option selected disabled>Selecione</option>
              <option *ngFor="let equipe of equipe">
                  {{equipe.Equipe_nome}}
              </option>
            </select>
        </div>
        <div class="form-group">
            <label for="el_nota">Nota Corte: </label>
            <input 
            class="form-control"
            id="el_nota" 
            name="el_nota" 
            />
        </div>
        <div class="form-group">
            <label for="qtd">Numero de Jogadores:</label>
            <input
              class="form-control"
              id="qtd"
              required
              name="qtd"
            />
        </div>

        <button (click)="gerarElenco()" class="btn btn-success">Gerar Elenco</button>
      </div>
  
    </div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="at_nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let row"> {{row.at_nome}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="at_dnasc">
      <th mat-header-cell *matHeaderCellDef> Data Nascimento</th>
      <td mat-cell *matCellDef="let element"> {{element.at_dnasc}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="at_nota">
      <th mat-header-cell *matHeaderCellDef> Nota </th>
      <td mat-cell *matCellDef="let element"> {{element.at_nota}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="at_posicao">
      <th mat-header-cell *matHeaderCellDef> Posição</th>
      <td mat-cell *matCellDef="let element"> {{element.at_posicao}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
