<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="camp_nome">Nome do Campeonato</label>
          <input
            type="text"
            class="form-control"
            id="camp_nome"
            required
            [(ngModel)]="campeonato.camp_nome"
            name="camp_nome"
          />
        </div>

        <div class="form-group">
            <label for="camp_n_equip">Numero de Equipes</label>
            <input
              class="form-control"
              id="camp_n_equip"
              required
              [(ngModel)]="campeonato.camp_n_equip"
              name="camp_n_equip"
            />
        </div>
  
        <div class="form-group">
          <label for="camp_modalidade">Modalidade Combo Futuro</label>
          <input
            class="form-control"
            id="camp_modalidade"
            required
            [(ngModel)]="campeonato.camp_modalidade"
            name="camp_modalidade"
          />
        </div>
 
        <button (click)="gravarCampeonato()" class="btn btn-success">Gravar</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Campeonato incluido com Sucesso!</h4>
        <button class="btn btn-success" (click)="novoCampeonato()">Adicionar</button>
      </div>
    </div>
  </div>