<div class="card-deck">
    <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
        <img src="/assets/modalidade_card.jpeg" class="card-img-top" alt="/assets/modalidade_card.jpeg"  width="362" height="200" >
        <div class="card-body">
        <h5 class="card-title">Modalidades</h5>
        <p class="card-text">Cadastro e Edição das Modalidades </p>
        <a routerLink="add" class="btn btn-primary">Adicionar</a>
        &nbsp;
        <a routerLink="modalidades" class="btn btn-primary">Lista</a>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
        <img src="/assets/equipes_card.jpeg" class="card-img-top" alt="/assets/equipes_card.jpeg"  width="362" height="200" >
        <div class="card-body">
        <h5 class="card-title">Equipes</h5>
        <p class="card-text">Cadastro e Edição das Equipes </p>
        <a routerLink="addEquipe" class="btn btn-primary">Adicionar</a>
        &nbsp;
        <a routerLink="equipes" class="btn btn-primary">Lista</a>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
        <img src="/assets/campeonato_card.jpeg" class="card-img-top" alt="/assets/campeonato_card.jpeg"  width="362" height="200" >
        <div class="card-body">
        <h5 class="card-title">Campeonatos</h5>
        <p class="card-text">Cadastro e Edição dos Campeonatos </p>
        <a routerLink="addCamp" class="btn btn-primary">Adicionar</a>
        &nbsp;
        <a routerLink="campeonatos" class="btn btn-primary">Lista</a>
        </div>
    </div>
</div>
<p></p>
<div class="card-deck">
    <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
        <img src="/assets/atleta_card.jpeg" class="card-img-top" alt="/assets/atleta_card.jpeg"  width="362" height="200" >
        <div class="card-body">
        <h5 class="card-title">Atletas</h5>
        <p class="card-text">Cadastro e Edição dos Atletas </p>
        <a routerLink="addAtleta" class="btn btn-primary">Adicionar</a>
        &nbsp;
        <a routerLink="atletas" class="btn btn-primary">Lista</a>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
        <img src="/assets/elencos_card.jpeg" class="card-img-top" alt="/assets/elencos_card.jpeg"  width="362" height="200" >
        <div class="card-body">
        <h5 class="card-title">Elencos</h5>
        <p class="card-text">Geração dos Elencos por time</p>
        <a routerLink="addElenco" class="btn btn-primary">Adicionar</a>
        &nbsp;
        <a routerLink="elencos" class="btn btn-primary">Lista</a>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
        <img src="/assets/tabelas_card.jpeg" class="card-img-top" alt="..."  width="362" height="200" >
        <div class="card-body">
        <h5 class="card-title">Tabelas</h5>
        <p class="card-text">Geração das tabelas de jogos</p>
        <a routerLink="addJogo" class="btn btn-primary">Adicionar</a>
        &nbsp;
        <a routerLink="jogos" class="btn btn-primary">Lista</a>
        </div>
    </div>
</div>